<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>thewonderofyou.Copyboard.scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>copyboard</string>
			</array>
		</dict>
	</array>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://github.com/khcrysalis/Copyboard/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>0jcLch5+zoYsVnfx2/MJGz0skKio2cLP7JsYCGzzpFA=</string>
</dict>
</plist>
